.object-details-container {
  margin-top: 50px;
  margin-right: 100px;
  margin-left: 100px;
  padding-bottom: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 50px;
}

.object-details-container img {
  max-height: 650px;
}

.image-placeholder {
  height: 450px;
  width: 350px;
  max-height: 650px;
  background-color: #ddd;
  display: flex;
  justify-content: center;
  align-items: center;
}

.object-details {
  max-width: 700px;
  text-align: left;
}

.additional-images {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
  margin-right: 100px;
  margin-left: 100px;
  padding-top: 50px;
  border-top: 2px solid #fca311;
}

.object-details-image-gallery img {
  max-height: 250px;
  margin: 10px;
}

.object-details-tags {
  margin-bottom: 50px;
}

.object-details-tags li {
  list-style: none;
  display: inline;
  border-radius: 10px;
  padding: 10px;
  margin-right: 20px;
  background-color: #14213d;
  color: #fff;
}

@media (max-width: 768px) {
  .object-details-container {
    flex-direction: column;
    margin-right: 20px;
    margin-left: 20px;
    gap: 20px;
  }

  .object-details-container img {
    height: auto;
    width: 100%;
  }
}
