.search-bar {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  padding: 10px;
  border: 1px solid hsl(0, 0%, 80%);
  border-radius: 5px;
  box-sizing: border-box;
}

.search-bar input {
  width: 100%;
  padding: 8px;
  border: none;
  border-radius: 5px;
  outline: none;
  box-sizing: border-box;
}
